# 日本語対応
set convert-meta off
set meta-flag on
set output-meta on

#"\e[A": history-search-backward
#"\e[0A": history-search-backward
#"\e[B": history-search-forward
#"\e[0B": history-search-forward
"\C-n": history-search-forward
"\C-p": history-search-backward

# readlineマクロ
# http://d.hatena.ne.jp/hirose31/20090531/1243777478
$if mysql
    # MySQL pager
    # http://d.hatena.ne.jp/xyk/touch/20110207/1297045517
    # MySQLの出力先をVimにする
    "\C-xv": "\\P vim - -R -c 'set nowrap' -c 'set ft=mysql'"
    # http://vim-jp.org/vimdoc-ja/starting.html
    # - 標準入力を読み込む
    # -R readonlyで開く。readonlyにしないと閉じるときに!が必要になるので
    # -c   ~/.vimrc ファイルを読み込んだ後に、コマンドを実行
    # --cmd ~/.vimrc ファイルを読み込む前に、コマンドを実行
    # set nowrap テキストを折り返さない
    # set ft=mysql filetypeをMySQLにする
    #
    # pagerの設定を解除
    "\C-xq": "nopager"
$endif
