# 日本語対応
set convert-meta off
set meta-flag on
set output-meta on

# bashでbind -pを打つと現在のバインド一覧を表示
# bind -lでバインドできる関数一覧を表示

#"\e[A": history-search-backward
#"\e[0A": history-search-backward
#"\e[B": history-search-forward
#"\e[0B": history-search-forward
"\C-n": history-search-forward
"\C-p": history-search-backward
"\en": menu-complete
# readlineのバージョンが古いとできない
"\ep": menu-complete-backward

# readlineマクロ
# http://d.hatena.ne.jp/hirose31/20090531/1243777478
$if mysql
    # MySQL 5.6からはlibedit

    ##
    # MySQLの出力先をVimにする
    #
    # MySQL pager
    # http://d.hatena.ne.jp/xyk/touch/20110207/1297045517
    # http://vim-jp.org/vimdoc-ja/starting.html
    # - 標準入力を読み込む
    # -R readonlyで開く。readonlyにしないと閉じるときに!が必要になるので
    # -c   ~/.vimrc ファイルを読み込んだ後に、コマンドを実行
    # --cmd ~/.vimrc ファイルを読み込む前に、コマンドを実行
    # set nowrap テキストを折り返さない
    # set ft=mysql filetypeをMySQLにする
    "\C-xv": "\\P vim - -R -c 'set nowrap' -c 'set ft=mysql'\n"
    "\C-x\C-v": "\\P vim - -R -c 'set nowrap' -c 'set ft=mysql'\n"

    # 文字化け対策
    # 送受信の文字コードをUTF-8にする
    "\C-xu": "set names utf8;\n"
    # set names utf8で
    #  character_set_client      utf8  クライアントが送信する文字コード
    #  character_set_connection  utf8  文字コード情報が無い文字列の文字コード
    #  character_set_results     utf8  クライアントへ送信する文字コード
    # を変更する
    # http://www.dbonline.jp/mysql/myini/index3.html]
    # http://d.hatena.ne.jp/ichiro_tanaka/20090305/1236236041 

    "\C-xf": "show full columns from "
    "\C-x\C-f": "show full columns from "
$endif
